.title {
  font-size: 80px;
  line-height: 130px;
  text-align: center;
}

.titleSpace {
  margin-bottom: 213px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* Tambahkan ini untuk menyelaraskan tombol dan input secara vertikal */
  margin-bottom: 20px;
  position: relative;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px; /* Tambahkan lebar tetap untuk input */
}

.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
  bottom: -180px;
  left: 363px;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
